body {
    background-color: #F8F7FF;
    text-align: center;
}

.seaUnicorn {
    font-family: fantasy;
}
.secret {
    opacity: 0.5;
}

ul {
    margin: 0 auto;
    list-style: none;
}

table {
    border: solid gray 1px;
}

th {
    border: solid gray 1px;
}

td {
    border: solid gray 1px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

/* #newand {
    color:indigo;
  } just realized it's with jquery*/

.cabbage{
    color:CHARTREUSE;
}